<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password | AuthFLow</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="auth-wrapper">

    <!-- LEFT BRAND -->
    <div class="brand-panel">
        <h1>Auth Flow</h1>
        <p>
            Reset your password securely <br>
            using the link sent to your email.
        </p>
    </div>

    <!-- RIGHT FORM -->
    <div class="form-panel">
        <div class="form-card">

            <h2>Reset Password</h2>
            <p class="subtitle">Enter your new password below</p>

            <div class="input-group">
                <label>New Password</label>
                <input type="password" id="password" placeholder="New password">
            </div>

            <div class="input-group">
                <label>Confirm Password</label>
                <input type="password" id="confirmPassword" placeholder="Confirm password">
            </div>

            <button onclick="resetPassword()">Update Password</button>

            <p id="message" class="footer-text"></p>

            <div class="footer-text">
                Back to <a href="/login">Login</a>
            </div>

        </div>
    </div>

</div>

<script src="/static/password.js"></script>
</body>
</html>
